<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Firebase Cloud Messaging</title>
    <link rel="shortcut icon" href="favicon.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>


    <!-- Vue JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.1.6/vue.min.js"></script>


    <!-- Import Google Icon Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-messaging.js"></script>


</head>

<body>

    <div id="application" class="container">

        <h1 style="text-align:center">Firebase Cloud Message Consumer</h1>

        <p id="token">{{ deviceToken }}</p>

        <button v-on:click="copyToClipboard" type="button" class="btn btn-secondary float-right">
            Copy To Clipboard
        </button>

        <button v-on:click="requestPermission" type="button" class="btn btn-success float-right">
            Request Token
        </button>

        <div class="row">
            <table>
                <thead class="alert alert-primary">
                    <tr>
                        <th v-for="key in columns">
                            {{ key | capitalize }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="entry in gridData">
                        <td v-for="key in columns">
                            {{entry[key]}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyDbw7uHJqd7LG6wIeCPAJbvXr3i0ArBMss",
            authDomain: "messagenotificationservice.firebaseapp.com",
            databaseURL: "https://messagenotificationservice.firebaseio.com",
            projectId: "messagenotificationservice",
            storageBucket: "messagenotificationservice.appspot.com",
            messagingSenderId: "468212055000",
            appId: "1:468212055000:web:a183bd1710a1eaea9bd0ad",
            measurementId: "G-E8JRXC7256"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);

        // [START get_messaging_object]
        // Retrieve Firebase Messaging object.
        const messaging = firebase.messaging();

        // [END get_messaging_object]
        // [START set_public_vapid_key]
        // Add the public key generated from the console here.
        messaging.usePublicVapidKey("BD0IwtgtudOtZkgZWRaPnR6-U1fprtH6ixb-YHeZjm1x9yACDk3noYNOsJ9iSkd1Jiji3la0kdnxG4Btru3jtg4");

        // [END set_public_vapid_key]

        // IDs of divs that display Instance ID token UI or request permission UI.
        const tokenDivId = 'token_div';
        const permissionDivId = 'permission_div';

        var srcData = [];

        // [START refresh_token]
        // Callback fired if Instance ID token is updated.
        messaging.onTokenRefresh(() => {
            messaging.getToken().then((refreshedToken) => {
                console.log('Token refreshed.');
                console.log('~> refreshedToken: ' + refreshedToken)
                // Indicate that the new Instance ID token has not yet been sent to the
                // app server.
                // setTokenSentToServer(false);
                // Send Instance ID token to app server.
                // sendTokenToServer(refreshedToken);
                showToken(refreshedToken)
                // [START_EXCLUDE]
                // Display new Instance ID token and clear UI of all previous messages.
                // resetUI();
                // [END_EXCLUDE]
            }).catch((err) => {
                console.log('Unable to retrieve refreshed token ', err);
                showToken('Unable to retrieve refreshed token ', err);
            });
        });
        // [END refresh_token]

        // [START receive_message]
        // Handle incoming messages. Called when:
        // - a message is received while the app has focus
        // - the user clicks on an app notification created by a service worker
        //   `messaging.setBackgroundMessageHandler` handler.
        // messaging.onMessage((payload) => {
        // console.log('Message received. ', payload);
        // [START_EXCLUDE]
        // Update the UI to include the received message.
        // appendMessage(payload);
        // console.log('payload')
        // console.log(payload)
        // console.log('this.gridData')
        // console.log(application.data.gridData)
        // srcData.push(payload);
        // [END_EXCLUDE]
        // });
        // [END receive_message]

        var application = new Vue({
            el: '#application',
            data: {
                deviceToken: "",
                isActive: false,
                columns: ["title", "body"],
                gridData: srcData
            },
            created: function () {
                // `this` указывает на экземпляр vm
                console.log('Значение a: ' + this.a)
                messaging.onMessage((payload) => {
                    console.log('Message received in created. ', payload);
                    console.log('Message received in created. ', payload.notification);
                    console.log('Message received in created. ', payload.notification.body);
                    this.gridData.push(payload.notification);
                })
            },
            methods: {

                requestPermission: function (event) {
                    // console.log('Requesting permission...');
                    console.log('Token refreshed.');

                    messaging.getToken().then((refreshedToken) => {
                        console.log('==> refreshedToken: ' + refreshedToken)
                        this.deviceToken = refreshedToken;
                    }).catch((err) => {
                        console.log('Unable to retrieve refreshed token ', err);
                        showToken('Unable to retrieve refreshed token ', err);
                    });

                },

                copyToClipboard: function (event) {
                    console.log('Copy To Clipboard');

                    const el = document.createElement('textarea');
                    el.value = this.deviceToken;
                    document.body.appendChild(el);
                    el.select();
                    document.execCommand('copy');
                    document.body.removeChild(el);
                }
            }
        })

        function showToken(currentToken) {
            // Show token in console and UI.
            const tokenElement = document.querySelector('#token');
            tokenElement.textContent = currentToken;
        }
    </script>

</body>

</html>